<div class="container user-edit-container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
      	<h2>Modifier votre profil</h2>

				<%= simple_form_for @user do |f| %>
				  <%= f.input :username, label: "Pseudonyme", error: "Ce pseudonyme existe déjà, merci d'en choisir un autre." %>
				  <%= f.input :first_name, label: "Prénom"%>
				  <%= f.input :last_name, label: "Nom de famille" %>
				  <%= f.input :age, as: :integer%>
				  <%= f.input :city, label: "Ville" %>
				  <%= f.input :religion%>
				  <%= f.input :language, label: "Langue"%>
				  <%= f.input :gender, label: "Sexe"%>
				  <%= f.input :biography, as: :text, :input_html => {:rows => 7}, label: "Biographie"%>
				  <%= f.input :photo %>
  				  <%= f.input :photo_cache, as: :hidden %>
          <div class="edit-user-submit">
				    <%= f.button :submit, label: "Envoyer", class:"btn btn-medium" %>
          </div>
				<% end %>

		</div>
	</div>
</div>
