<div class="container user-edit-container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
      	<h2>Edit your profile</h2>

				<%= simple_form_for @user do |f| %>
				  <%= f.input :username, error: 'Username is mandatory, please specify one' %>
				  <%= f.input :first_name %>
				  <%= f.input :last_name %>
				  <%= f.input :age, as: :integer %>
				  <%= f.input :city %>
				  <%= f.input :religion%>
				  <%= f.input :language%>
				  <%= f.input :gender%>
				  <%= f.input :biography, as: :text, :input_html => {:rows => 7}%>
				  <%= f.input :photo %>
  				  <%= f.input :photo_cache, as: :hidden %>
          <div class="edit-user-submit">
				    <%= f.button :submit, class:"btn btn-medium" %>
          </div>
				<% end %>

		</div>
	</div>
</div>
