  <div class="profile-wrapper">
  <div class="profile-container">
    <div class="first-user-info">
      <% if @user.facebook_picture_url != nil %>
        <%= image_tag(@user.facebook_picture_url, class: "avatar-user-show") %>
      <% elsif @user.photo.url != nil %>
        <%= image_tag(@user.photo, class: "avatar-user-show")%>
      <% else %>
        <%= cl_image_tag("avatar_dymvhr.png", class: "avatar-user-show") %>
      <% end %>
      <% if @user.username.blank?  %>
        <h2 class="profile-name"><%= @user.first_name %></h2>
      <% else %>
        <h2 class="profile-name"><%= @user.username %></h2>
      <% end %>
      <div class="count hidden-xs">
        <p class="info-count">
          <strong><%=  @prayer_as_writer.count %></strong>   <%=  pluralize(@prayer_as_writer.count,"prière").gsub(/\d+ /, '') %></p>
         <p class="info-count"> <strong><%=  @user.pains.count %></strong>  <%=  pluralize(@user.pains.count ,"demande").gsub(/\d+ /, '') %></p>
      </div>
      <div class="count-mobile hidden-lg hidden-md hidden-sm">
        <p class="info-count">
          <strong><%=  @prayer_as_writer.count %></strong>   <%=  pluralize(@prayer_as_writer.count,"prière").gsub(/\d+ /, '') %></p>
         <p class="info-count"> <strong><%=  @user.pains.count %></strong>  <%=  pluralize(@user.pains.count ,"demande").gsub(/\d+ /, '') %></p>
      </div>
    </div>
    <hr class="hrprofile">
    <div class="wrapper-tabs">
       <div class="tabs">
        <a class="tab" data-target="#profile">
          <h3 class="tab-title active" data-target="#profile">Mes informations</h3>
        </a>
        <a class="tab" data-target="#prayers">
          <h3 class="tab-title" data-target="#prayers">Mes prières</h3>
        </a>
        <a class="tab" data-target="#pains" id="tab-pains">
        <% if (@notification && @notification.count > 0) %>
          <h3 class="tab-title" data-target="#pains">Mes demandes <span id="tab-notification">(<%= @notification.count %>)</span></h3>
        <% else %>
          <h3 class="tab-title" data-target="#pains">Mes demandes </h3>
        <% end %>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- table profile-->

<div class="tab-container">
  <div class="tab-content" id="profile">
    <div class="my-profile">
      <div class="btn-userinfo">
      <% if @user == current_user %>
        <p><%= link_to "Modifier le profil", edit_user_path, class:"btn btn-medium"%></p>
        <% else %>
        <p></p>
      <% end %>
        
      </div>

      <div class="parameter">
        <div class="name">
          <h4 class="titleparameter text-center">Identifiants</h4>
          <p><strong>Prénom:</strong> <%= @user.first_name %></p>
          <p><strong>Nom:</strong> <%= @user.last_name %></p>
          <p><strong>Pseudonyme:</strong> <%= @user.username %></p>
          <p><strong>Age:</strong> <%= @user.age %></p>
        </div>
        <hr>
        <div class="geo-contact">
          <h4 class="titleparameter text-center"> Contact</h4>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>Pays:</strong> <%= @user.country %></p>
          <p><strong>Ville:</strong> <%= @user.city %></p>
        </div>
        <hr>
        <div class="geo-contact">
        <h4 class="titleparameter text-center"> Pour aller plus loin</h4>
          <p><strong>Religion:</strong> <%= @user.religion %> </p>
          <p><strong>Langue:</strong> <%= @user.language %></p>
          <p><strong>Sexe:</strong> <%= @user.gender %></p>
        </div>
          <hr>
          <p><strong>Biographie:</strong> <%= @user.biography %></p>
          <hr>
        </div>
    </div>
  </div>
</div>

<!-- end table profile-->

<!-- table prayers-->


  <div class="tab-container">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="tab-content hidden" id="pains">
        <% if @user.pains.empty? %>
          <p>Vous n'avez pas encore posté de demande !</p>
        <% else %>
          <% @user.pains.order("created_at desc").each do |pain| %>
            <div class="prayer-profile-wrapper ">
              <div class="pain-profile text-center">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                  <!-- <div class="panel panel-default"> -->
                    <div role="tab" id="headingOne">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#prayer-<%=pain.id %>" aria-expanded="true" aria-controls="prayer-<%=pain.id %>">
                        <div class="pain-header">
                          <p class="catpain"><%= pain.category %></p>

                          <p class="middle-title"><%= pain.title %></p>

                          <p class="datetime">Il y a <%= (Date.today.strftime("%d/%m/%Y").to_date - pain.created_at.strftime("%d/%m/%Y").to_date).to_i %> j</p>
                        </div>
                      </a>
                    </div>
                    <div id="prayer-<%=pain.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                       <div class="prayer-content">
                         <p>"<%= pain.description unless pain.description.blank? %>"</p>
                         <div class="quote">
                           <span class="test"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                           </div>
                       </div>
                       <div class="pain-prayers-list">
                         <div class="prayers-card">
                           <% pain.prayers.order("created_at desc").each do |prayer| %>
                              <hr>
                              <div class="prayer-list">
                                <div class="prayer-btn">
                                  <p id="prayer_report_<%= prayer.id %>"><%= link_to report_prayer_prayer_path(prayer), method: :post, data: { confirm: 'Signalement', swal: {
                                      title: 'Signalement',
                                      text: "Voulez-vous signaler cette demande ?",
                                      type: 'question',
                                      show_cancel_button: true,
                                      confirm_button_color: '#B56969',
                                      cancel_button_color: '#B4D8C0',
                                      confirm_button_text: 'Oui',
                                      cancel_button_text: 'Non'
                                    } }, remote: true do %>
                                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                  <% end %></p>
                                </div>
                                <div class="text-prayer">
                                  <ul class="list-unstyled user-list">
                                    <li><center><% if prayer.user.facebook_picture_url != nil %>
                                      <%= image_tag(prayer.user.facebook_picture_url, class:"prayer-profile_picture") %>
                                    <% elsif prayer.user.photo.url != nil %>
                                      <%= image_tag(prayer.user.photo, class:"prayer-profile_picture")%>
                                    <% else %>
                                      <%= cl_image_tag("avatar_dymvhr.png", class:"prayer-profile_picture") %>
                                    <% end %></center></li>
                                    <li><strong><%= prayer.user.username %></strong></li>
                                  </ul>

                                  <ul class="list-unstyled prayer-text">
                                    <li class= "prayer-title"><h4><%= prayer.title %></h4></li>
                                    <div class="prayer-pain-text-user">
                                      <li><%= audio_tag prayer.audio.url, controls: true  unless prayer.audio.blank? %></li>
                                      <li><%= prayer.description unless prayer.description.blank? %></li>
                                    </div>
                                  </ul>
                                </div>
                              </div>

                           <% end %>
                         </div>
                       </div>
                       <span class="btn btn-medium button-voir"><%= link_to "voir", pain_path(pain)%></span>
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
            <hr>
          <%end%>
        <%end%>
      </div>
   </div>
</div>










    <div class="tab-container">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="tab-content hidden" id="prayers">
          <% if @prayer_as_writer.empty? %>
            <p>Vous n'avez pas encore posté de prière !</p>
          <% else %>
            <div class="cards-prayer">
              <% @prayer_as_writer.order("created_at desc").each do |prayer| %>
                <div class="prayer-list">
                  <div class="text-prayer">
                    <ul class="list-unstyled user-list">
                      <p class="datetime">Il y a <%= (Date.today.strftime("%d/%m/%Y").to_date - prayer.created_at.strftime("%d/%m/%Y").to_date).to_i %> j</p>
                    </ul>

                    <ul class="list-unstyled prayer-text">
                      <li class= "prayer-title middle-title"><h4><%= link_to prayer.title, pain_path(prayer.pain) %></h4></li>
                      <div class="prayer-user-description">
                        <li><%= audio_tag prayer.audio.url, controls: true  unless prayer.audio.blank? %></li>
                        <li><%= prayer.description unless prayer.description.blank? %></li>
                      </div>
                    </ul>
                  </div>
                </div>
                <hr>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
    </div>


