  <div class="profile-wrapper">
  <div class="profile-container">
    <div class="first-user-info">
      <% if current_user.facebook_picture_url != nil %>
        <%= image_tag(current_user.facebook_picture_url, class: "avatar-user-show") %>
      <% elsif current_user.photo.url != nil %>
        <%= image_tag(current_user.photo, class: "avatar-user-show")%>
      <% else %>
        <%= cl_image_tag("avatar_dymvhr.png", class: "avatar-user-show") %>
      <% end %>
        <h2 class="profile-name"><%= @user.username %></h2>
      <div class="count">
        <p class="info-count">
          <strong><%=  @prayer_as_writer.count %></strong>   <%=  pluralize(@prayer_as_writer.count,"prière").gsub(/\d+ /, '') %></p>
         <p class="info-count"> <strong><%=  @user.pains.count %></strong>  <%=  pluralize(@user.pains.count ,"demande").gsub(/\d+ /, '') %></p>
      </div>
    </div>
    <hr class="hrprofile">
    <div class="wrapper-tabs">
       <div class="tabs">
        <a class="tab" data-target="#profile">
          <h3 class="tab-title active" data-target="#profile">Mes informations</h3>
        </a>
        <a class="tab" data-target="#prayers">
          <h3 class="tab-title" data-target="#prayers">Mes prières</h3>
        </a>
        <a class="tab" data-target="#pains">
          <h3 class="tab-title" data-target="#pains">Mes demandes</h3>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- table profile-->

<div class="tab-container">
  <div class="tab-content" id="profile">
    <div class="my-profile">
      <div class="btn-userinfo">
        <p><%= link_to "Modifier le profil", edit_user_path, class:"btn btn-medium"%></p>
      </div>

      <div class="parameter">
        <div class="name">
          <h4 class="titleparameter text-center">Identifiants</h4>
          <p><strong>Prénom:</strong> <%= @user.first_name %></p>
          <p><strong>Nom:</strong> <%= @user.last_name %></p>
          <p><strong>Pseudonyme:</strong> <%= @user.username %></p>
          <p><strong>Age:</strong> <%= @user.age %></p>
        </div>
        <hr>
        <div class="geo-contact">
          <h4 class="titleparameter text-center"> Contact</h4>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>Pays:</strong> <%= @user.country %></p>
          <p><strong>Ville:</strong> <%= @user.city %></p>
        </div>
        <hr>
        <div class="geo-contact">
        <h4 class="titleparameter text-center"> Pour aller plus loin</h4>
          <p><strong>Religion:</strong> <%= @user.religion %></p>
          <p><strong>Langue:</strong> <%= @user.language %></p>
          <p><strong>Sexe:</strong> <%= @user.gender %></p>
        </div>
          <hr>
          <p><strong>Biographie:</strong> <%= @user.biography %></p>
          <hr>
        </div>
    </div>
  </div>
</div>

<!-- end table profile-->

<!-- table prayers-->


  <div class="tab-container">
    <div class="col-xs-12 col-md-8 col-offset-2">
      <div class="tab-content hidden" id="pains">
        <% if @user.pains.empty? %>
          <p>Vous n'avez pas encore posté de demande !</p>
        <% else %>
          <% @user.pains.order("created_at desc").each do |pain| %>
            <div class="prayer-profile-wrapper ">
            <div class="quote">
              <span class="test"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              </div>
              <div class="pain-profile text-center">
                  <div class="pain-header">
                   <p class="catpain"><%= pain.category %></p>
                   <%=link_to pain_prayers_path(pain) do %>
                   <p class="middle-title"><%= pain.title %></p>
                   <% end %>
                   <p class="datetime"><%= pain.created_at.strftime("%m/%d/%Y") %></p>
                </div>
                <div class="prayer-content">
                  <p>"<%= pain.description unless pain.description.blank? %>"</p>
                </div>
              </div>

            </div>  
            <hr>
        <%end%>
        <%end%>
      </div>
   </div>
</div>

<div class="tab-container">
  <div class="col-xs-12 col-md-8 col-offset-2">
    <div class="tab-content hidden" id="prayers">
      <% if @prayer_as_writer.empty? %>
        <p>Vous n'avez pas encore posté de prière !</p>
      <% else %>
        <% @prayer_as_writer.order("created_at desc").each do |prayer| %>
        <div class="prayer-profile-wrapper ">
          <div class="prayer-profile text-center">
            <div class="prayer-header">
            <%=link_to pain_prayers_path(prayer.pain) do %>
              <p class="middle-title"><%= prayer.title %></p>
              <% end %>
              <p class="datetime"><%= prayer.created_at.strftime("%m/%d/%Y")%></p>
            </div>
            <div class="prayer-content">
            <% if  prayer.audio.url.nil? %>
              <p>"<%= prayer.description unless prayer.description.blank? %>"</p>
            <% else %>
              <p><%= audio_tag prayer.audio.url, controls: true  unless prayer.audio.blank? %><p>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
       <%end%>
       <%end%>
      </div>
    </div>
  </div>
