<div class="profile-wrapper">
  <div class="profile-container">
    <div class="first-user-info">
      <% if current_user.facebook_picture_url != nil %>
        <%= image_tag(current_user.facebook_picture_url, class: "avatar-user-show") %>
      <% elsif current_user.photo.url != nil %>
        <%= image_tag(current_user.photo, class: "avatar-user-show")%>
      <% else %>
        <%= cl_image_tag("avatar_dymvhr.png", class: "avatar-user-show") %>
      <% end %>
        <h2 class="profile-name"><%= @user.username %></h2>
      <div class="count">
        <p class="info-count"><%=  pluralize(@prayer_as_writer.count,"prière")%></p>
        <p class="info-count"><%=  pluralize(@user.pains.count ,"demande")%></p>
      </div>
    </div>
    <hr>
    <div class="wrapper-tabs">
       <div class="tabs">
        <a class="tab active" data-target="#profile">
          <h3>Mes informations</h3>
        </a>
        <a class="tab" data-target="#prayers">
          <h3>Mes prières</h3>
        </a>
        <a class="tab" data-target="#pains">
          <h3>Mes demandes</h3>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- table profile-->

<div class="tab-container">
  <div class="tab-content" id="profile">
    <div class="my-profile">
      <div class="btn-userinfo">
        <p><%= link_to "Edit", edit_user_path, class:"btn btn-medium"%></p>
        <p><%= link_to "Back to index", pains_path,class:"btn btn-medium" %></p>
      </div>

      <div class="parameter">
        <div class="name">
          <h4 class="titleparameter text-center">Identifiant</h4>
          <p><strong>First name:</strong> <%= @user.first_name %></p>
          <p><strong>Last name:</strong> <%= @user.last_name %></p>
          <p><strong>Username:</strong> <%= @user.username %></p>
          <p><strong>Age:</strong> <%= @user.age %></p>
        </div>
        <hr>
        <div class="geo-contact">
          <h4 class="titleparameter text-center"> Contact</h4>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>Country:</strong> <%= @user.country %></p>
          <p><strong>City:</strong> <%= @user.city %></p>
        </div>
        <hr>
        <div class="geo-contact">
        <h4 class="titleparameter text-center"> Pour aller plus loin</h4>
          <p><strong>Religion:</strong> <%= @user.religion %></p>
          <p><strong>Language:</strong> <%= @user.language %></p>
          <p><strong>Gender:</strong> <%= @user.gender %></p>
        </div>
          <hr>
          <p><strong>Biography:</strong> <%= @user.biography %></p>
          <hr>
        </div>
    </div>
  </div>
</div>

<!-- end table profile-->

<!-- table prayers-->


  <div class="tab-container">
    <div class="col-xs-12 col-md-8 col-offset-2">
      <div class="tab-content hidden" id="pains">
        <% if @user.pains.empty? %>
          <p>Vous n'avez pas encore posté de demande !</p>
        <% else %>
          <% @user.pains.each do |pain| %>
            <div class="prayer-profile-wrapper ">
              <div class="prayer-profile text-center">
                  <div class="pain-header">
                   <p><%= pain.category %></p>
                   <p class="middle-title"><strong><%= pain.title %></strong></p>
                   <p><%= pain.created_at.strftime("%m/%d/%Y") %></p>
                </div>
                <div class="prayer-content">
                  <p><%= pain.description unless pain.description.blank? %></p>
                </div>
              </div>
            </div>    
        <%end%>
        <%end%>
      </div> 
   </div>
</div>

<div class="tab-container">
  <div class="col-xs-12 col-md-8 col-offset-2">
    <div class="tab-content hidden" id="prayers">
      <% if @prayer_as_writer.empty? %>
        <p>Vous n'avez pas encore posté de demande !</p>
      <% else %>
        <% @prayer_as_writer.each do |prayer| %>
        <div class="prayer-profile-wrapper ">
          <div class="prayer-profile text-center">
            <div class="prayer-header">
              <p class="middle-title"><strong><%= prayer.title %></strong></p>
              <p><%= prayer.created_at.strftime("%m/%d/%Y")%></p>
            </div>
            <div class="prayer-content">
              <p><%= prayer.description unless prayer.description.blank? %></p>
              <p><%= audio_tag prayer.audio.url, controls: true  unless prayer.audio.blank? %><p>
            </div>
          </div>
        </div>
       <%end%>
       <%end%>
      </div>
    </div>
  </div>
