<% if current_page?(root_path) %>
  <div class="navbar-blessme navbar-inverse navbar-fixed-top opaque-navbar">
<% else %>
  <div class="navbar-blessme navbar-inverse navbar-fixed-top regular-navbar">
<% end %>
  <!-- Logo -->
  <a href="/" class="navbar-blessme-brand">
    <%= image_tag("blessme.png") %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-blessme-right hidden-xs hidden-sm">
    <!-- Profile picture and dropdown -->
      <% if user_signed_in? %>
        <%= link_to t(".map", default: "Votre communauté"), "", id: "map-link", class: "navbar-blessme-link navbar-blessme-item", data: { toggle: "modal", target: "#mapModal" } %>
        <%= link_to new_pain_path, class: "navbar-blessme-link navbar-blessme-item" do %>
            <%= t("#", default: "Demander une prière") %>
        <% end %>
        <%= link_to pains_path, class: "navbar-blessme-link navbar-blessme-item" do %>
            <%= t(".pains", default: "Prier pour quelqu'un") %>
        <% end %>
      <% else %>
        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Se connecter"), "", class: "navbar-blessme-item navbar-blessme-link", data: { toggle: "modal", target: "#loginModal" } %>
        <%= link_to t(".sign_in", default: "S'inscrire"), "", class: "navbar-blessme-item navbar-blessme-link",  data: { toggle: "modal", target: "#signupModal" } %>
      <% end %>
    <!-- Button (call-to-action) -->
    <% if user_signed_in? %>
      <div class="navbar-blessme-right hidden-xs hidden-sm" >
        <div class="navbar-blessme-item" id="notifications-container">
          <%= render "shared/notifications", notification: @notification %>
        </div>
      </div>
      <div class="dropdown">
        <% if current_user.facebook_picture_url != nil %>
          <%= image_tag(current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-blessme-menu", data: {toggle: "dropdown"})%>
        <% elsif current_user.photo.url != nil %>
          <%= image_tag(current_user.photo, class: "avatar dropdown-toggle", id: "navbar-blessme-menu", data: {toggle: "dropdown"})%>
        <% else %>
          <%= cl_image_tag("avatar_dymvhr.png", class: "avatar dropdown-toggle", id: "navbar-blessme-menu", data: {toggle: "dropdown"}) %>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-blessme-dropdown-menu">
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Accueil") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>

 </div>
  <!-- Dropdown appearing on mobile only -->
    <div class="navbar-blessme-item hidden-lg hidden-md">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-blessme-dropdown-menu">
         <% if user_signed_in? %>
          <li>
            <%= link_to new_pain_path, class: "navbar-blessme-link-mobile navbar-blessme-item" do %>
                <i class="fa fa-rss" aria-hidden="true"></i>
                <%= t(".pains", default: "Demander une prière") %>
            <% end %>
          </li> 
          <li>
            <%= link_to pains_path, class: "navbar-blessme-link-mobile navbar-blessme-item" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <%= t(".pains", default: "Prier pour quelqu'un") %>
            <% end %>
          </li>
           <li>
             <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
              <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Accueil") %>
            <% end %>
          </li>
        


      <% else %>
        <!-- Login text link -->
        <%= link_to t(".sign_in-mobile", default: "Se connecter"), "", class: "navbar-blessme-item navbar-blessme-link-mobile", data: { toggle: "modal", target: "#loginModal" } %>
        <%= link_to t(".sign_in-mobile", default: "S'inscrire"), "", class: "navbar-blessme-item navbar-blessme-link-mobile",  data: { toggle: "modal", target: "#signupModal" } %>
      <% end %>
      </ul>
       
      </div>
    </div>

 


<!-- Modal login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Connexion</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: "Email", required: false, autofocus: true %>
          <%= f.input :password, label: "Mot de passe", required: false %>
          <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= link_to ("<span class='fa fa-facebook'></span>Connexion avec Facebook").html_safe , omniauth_authorize_path(:user, :facebook), class: "btn btn-block btn-social btn-facebook" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <%= f.button :submit, "Connexion" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- Modal sign up -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inscription</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, label: "Pseudonyme", required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, label: "Mot de passe", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Confirmation du mot de passe", required: true %>
        </div>

        <div class="form-actions">
          <%= link_to ("<span class='fa fa-facebook'></span>Inscription avec Facebook").html_safe , omniauth_authorize_path(:user, :facebook), class: "btn btn-block btn-social btn-facebook" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <%= f.button :submit, "Inscription" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- MODAL MAP -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-body">
          <div id="map" style="width: 100%; height: 600px;"></div>

            <% content_for(:after_js) do %>
              <script>
                $(document).ready(function() {
                  $("#map-link").click(function() {
                    setTimeout(function() {
                      var handler = Gmaps.build('Google');
                      handler.buildMap({ internal: { id: 'map' } }, function() {
                        markers = handler.addMarkers(<%= raw @hash.to_json %>);
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                        if (markers.length == 0) {
                          handler.getMap().setZoom(2);
                        } else if (markers.length == 1) {
                          handler.getMap().setZoom(14);
                        }
                      });
                    }, 200);
                  });
                });
              </script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<% if current_user %>
  <% content_for :after_js do %>
    <script>
      Pusher.logToConsole = true;

      var pusher = new Pusher("<%= ENV['pusher_key'] %>", {
        cluster: 'eu',
        encrypted: true
      });
      var channel = pusher.subscribe("user-" + <%= current_user.id %>);
      channel.bind('my_prayer', function(data) {
        alert(data.message);
      });
    </script>
  <% end %>
<% end %>-->

