<div class="navbar-blessme navbar-inverse navbar-fixed-top opaque-navbar">
  <!-- Logo -->
  <a href="/" class="navbar-blessme-brand">
    <%= image_tag("logoblessme.webp") %>
  </a>
  <%= link_to "Bless Me", root_path, class:"company-name"%>
  <!-- Right Navigation -->
  <div class="navbar-blessme-right hidden-xs hidden-sm">
    <!-- Profile picture and dropdown -->
    <div class="navbar-blessme-item">
      <% if user_signed_in? %>
        <div class="dropdown">
          <%= image_tag("logoblessme.webp", class: "avatar dropdown-toggle", id: "navbar-blessme-menu", "data-toggle" => "dropdown") %>
          <ul class="dropdown-menu dropdown-menu-right navbar-blessme-dropdown-menu">
            <li>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            </li>
            <li>
                <i class="fa fa-plus-circle"></i>  <%= t("#", default: "Ask for a prayer") %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-blessme-item navbar-blessme-link" %>
        <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-blessme-item navbar-blessme-link" %>
      <% end %>
    <!-- Button (call-to-action) -->
    </div>


  <!-- Dropdown appearing on mobile only -->
    <div class="navbar-blessme-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-blessme-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
