<% if current_page?(root_path) %>
  <div class="navbar-blessme navbar-inverse navbar-fixed-top opaque-navbar">
<% else %>
  <div class="navbar-blessme navbar-inverse navbar-fixed-top regular-navbar">
<% end %>
  <!-- Logo -->
  <a href="/" class="navbar-blessme-brand">
    <%= image_tag("logoblessme.webp") %>
  </a>
  <%= link_to "Bless Me", root_path, class:"company-name"%>
  <!-- Right Navigation -->
  <div class="navbar-blessme-right hidden-xs hidden-sm">
    <!-- Profile picture and dropdown -->
    <div class="navbar-blessme-item">
      <% if user_signed_in? %>
        <%= link_to "Map", users_path, class:"map-link" %>
        <div class="dropdown">
          <% if current_user.facebook_picture_url != nil %>
            <%= image_tag(current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-blessme-menu", data: {toggle: "dropdown"})%>
          <% elsif current_user.photo.url != nil %>
            <%= image_tag(current_user.photo, class: "avatar dropdown-toggle", id: "navbar-blessme-menu", data: {toggle: "dropdown"})%>
          <% else %>
            <%= image_tag("sample.jpg", class: "avatar dropdown-toggle", id: "navbar-blessme-menu", data: {toggle: "dropdown"}) %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-blessme-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_pain_path do %>
                <i class="fa fa-plus-circle"></i>  <%= t("#", default: "Ask for a prayer") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-blessme-item navbar-blessme-link" %>
        <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-blessme-item navbar-blessme-link" %>
      <% end %>
    <!-- Button (call-to-action) -->
    </div>


  <!-- Dropdown appearing on mobile only -->
    <div class="navbar-blessme-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-blessme-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
