<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90123342-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="banner" >
  <div class="banner-content">
    <h1 class="main-title"><span class="first-part">Bless</span> Me</h1>
    <h2 class="tagline">Votre foi est votre plus grande richesse, partagez-la</h2>
    <div class="calltoaction">
      <%= link_to "Je prie pour quelqu'un", pains_path, class:"btn homebutton pray-btn" %>
      <%= link_to "Je demande une prière", new_pain_path, class:"btn btn-medium homebutton  " %>
    </div>
  </div>
</div>



<div class="icons-container">
  <div class="row ">
    <div class="col-xs-6 col-sm-4 col-md-3 ">
    <div class="stepping">
      <%= image_tag('student.png', class:"card-icon") %>
        <h2 class="titlestephome">Partager</h2>
        <p class="text-step">Je traverse une épreuve, je dépose une demande sur <strong>Bless Me</strong>.</p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 ">
    <div class="stepping">
      <%= image_tag('search.png', class:"card-icon-search") %>
        <h2 class="titlestephome">Trouver</h2>
          <p class="text-step">Chaque croyant prie pour une demande selectionnée de manière aléatoire.</p>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 ">
    <div class="stepping">
      <%= image_tag('space.png', class:"card-icon-space") %>
        <h2 class="titlestephome">Prier</h2>
        <p class="text-step">Les croyants du monde entier m'envoient une prière. </p>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 ">
      <div class="stepping">
        <%= image_tag('laptop.png', class:"card-icon") %>
        <h2 class="titlestephome">Recevoir</h2>
        <p class="text-step">Je reçois de nombreuses prières et pensées, je suis béni !</p>
      </div>
    </div>
  </div>
</div>
