<div class="banner" ">
  <div class="banner-content">
    <h1>Bless Me</h1>
    <p>Votre foi est votre plus grande richesse, partagez-la</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<div class="icons-container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag('sad.png', class:"card-icon") %>
      <h3>Share</h3>
      <p>Je partage les épreuves que je rencontre sur Bless me.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag('globe.png', class:"card-icon") %>
      <h3>See</h3>
      <p>Des croyants du monde entiers peuvent prier directement pour moi.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag('heart.png', class:"card-icon") %>
      <h3>Love</h3>
      <p>Je reçois ces prières, qui me donnent de la force et de l'amour.</p>
    </div>
  </div>
</div>

<div class="cards-wrapper">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 card-content">
        <a href="#">
          <%= image_tag('voir.webp', class: "image-card") %>
          <span class="card-text"><span>blablabla</span></span>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 card-content">
        <%= image_tag('recevoir.webp', class: "image-card") %>
      </div>
      <div class="col-xs-12 col-sm-4 card-content">
        <%= image_tag('partager.webp', class: "image-card") %>
      </div>
    </div>
  </div>
</div>
