<div class="portfoliocard">
  <% @pain%>
  <div class="coverphoto"></div>
    <div class="profile_picture"></div>
      <div class="left_col">

        <div class="user-info">
          <div class="fire ">
            <p><i class="fa fa-fire" aria-hidden="true"></i>12</p>
          </div>

        </div>
      </div>
      <div class="right_col">
        <h2 class="name text-center"><%= @pain.title %></h2>
      <div class="pain-description">
        <p><%= @pain.description %></p>
      </div>
    </div>
</div>

<div class="audio-prayer text-center">
	<% @prayers.each do |prayer| %>
	<ul class="list-unstyled">
		<li><%= prayer.user.email  %></li>
		<li><%= prayer.title  %></li>
		<li><%= audio_tag prayer.audio.url, controls: true  unless prayer.audio.blank? %></li>
		<li><%= prayer.description unless prayer.audio.blank? %></li>
	</ul>
	<hr>
	<% end %>
</div>