<div class="portfoliocard">
  <% @pain%>
  <div class="coverphoto"></div>
    <div class="profile_picture"></div>
      <div class="left_col">

        <div class="user-info">
        <p><%= @pain.user.username %></p>
        <p><%= @pain.user.country %></p>
        <p><%= @pain.user.religion %></p>
          <div class="fire ">
            <p><i class="fa fa-fire" aria-hidden="true"></i>12</p>
          </div>

        </div>
      </div>
      <div class="right_col">
        <h2 class="name text-center"><%= @pain.title %></h2>
      <div class="pain-description">
        <p><%= @pain.description %></p>
      </div>
    </div>
</div>

<div class="audio-prayer text-center">
	<% @prayers.each do |prayer| %>
	<ul class="list-unstyled">
		<li><strong><%= prayer.user.username  %></strong></li>
		<li><%= prayer.title  %></li>
		<li><%= audio_tag prayer.audio.url, controls: true  unless prayer.audio.blank? %></li>
		<li><%= prayer.description unless prayer.description.blank? %></li>
	</ul>

      <ul class="list-unstyled prayer-list">
          <% if policy(prayer).edit? %>
            <%= link_to "Edit your prayer", edit_pain_prayer_path(@pain, prayer) %>
          <% end %>
          <br>
          <% if policy(prayer).destroy? %>
            <%= link_to "Delete your prayer", pain_prayer_path(@pain, prayer), method: :delete, data: { confirm: 'Are you sure?' }, class:"delete-link" %>
          <% end %>
          <hr>
      </ul>
  <% end %>
</div>