<div class="container-prayer">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h3 class="text-center">Nouvelle prière</h3>
      <%= simple_form_for [@pain, @prayer] do |f|  %>
        <%= f.input :title %>
        <%= f.input :description, as: :text, :input_html => {:rows => 10}%>
        <% if policy(@prayer).create? %>
          <%= f.submit 'add' %>
        <% end %>
      <% end %>
      <% if @prayer.errors.any? %>
        <%= @prayer.errors.full_messages %>
      <% end %>
    </div>
  </div>
</div>
