<div class="container pain-edit-container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for(@pain) do |f| %>
        <%= f.input :title %>
        <%= f.input :category, collection: Pain::CATEGORIES %>
        <%= f.input :description, as: :text %>
        <%= f.submit 'Share', class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


