<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
  <ul class="list-unstyled">
    <% @pain %>
      <li><strong><%= @pain.title %></strong></li>
      <li>Category :<%= @pain.category %></li>
      <li>Request :<%= @pain.description %></li>
      <br>
      <hr>
    </ul>
    <ul class="list-unstyled">
       <% @pain.prayers.each do |prayer| %>
      <li><strong><%= prayer.title %></strong></li>
      <li>Your prayer :<%= prayer.description %></li>
       <%= link_to "Edit your prayer", edit_pain_prayer_path(prayer) %>
      <% end %>

    </ul>
  </div>
</div>
</div>


