<div class="container-show">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="list-unstyled">
        <% @pain %>
          <li><strong><%= @pain.title %></strong></li>
          <li>Category :<%= @pain.category %></li>
          <li>Request :<%= @pain.description %></li>
          <br>
          <div class="pray-link">
          <p>Pray</p>
          </div>
          <br>
          <%=link_to "Back to request feed", pains_path %>
          <hr>
        </ul>
        <div id="prayers-list">
        </div>
      </div>
  </div>
</div>

<div id="prayer-form">
  <%= render "prayer_form", pain: @pain, prayer: @prayer %>
</div>





