<div class="portfoliocard">
  <% @pain%>
  <div class="coverphoto"></div>
    <div class="profile_picture"></div>
      <div class="left_col">

        <div class="user-info">
          <div class="username"><%= @pain.user.username.capitalize %></div>
          <div class="religion"><%= @pain.user.religion.capitalize %></div>
          <div class="country"><%= @pain.user.country.capitalize %></div>
          <div class="fire ">
            <p><i class="fa fa-fire" aria-hidden="true"></i>12</p>
          </div>

        </div>
      </div>
      <div class="right_col">
        <h2 class="name text-center"><%= @pain.title %></h2>
      <div class="pain-description">
        <p><%= @pain.description %></p>
      </div>
    </div>
</div>

<div class="pray-link-write">
  <p>Write a prayer</p>
</div>
<div class="pray-link-record">
  <p>Record a prayer</p>
</div>
<div class="pray-link-thought">
  <p>Send a thought</p>
</div>
<%=link_to "Back to categories", pains_path %>
<div id="prayer-form">
  <%= render "prayer_form", pain: @pain, prayer: @prayer %>
</div>


